body {
    background: #FA6E46;
}

.title {
    margin: auto;
    width: 80%;
    padding: 30px;

    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 62px;
    text-align: center;

    color: #F8CA9D;
}

.about {
    margin: auto;
    width: 80%;
    padding: 10px;

    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}
